<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configsections>
		<section name="DataBaseConfigurationSection" type="Student_Project_ADO_CleanArchitecture.Infrastructure.DatabaseConfiguration, Student_Project_ADO_CleanArchitecture"/>
		</configsections>

	<DataBaseConfigurationSection
		connectionString="data source=DESKTOP-3BA0QHV;data base=ProjectStudent;integrated security=SSPI;"/>
</configuration>