<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="SimpleConfigurationSection" type="AppConfig_Revision.CustomConfigurationClasses.SimpleConfiguration, AppConfig_Revision"/>
		<section name="ComplexConfigurationSection" type="AppConfig_Revision.CustomConfigurationClasses.ComplexConfiguration, AppConfig_Revision"/>
		<section name="ExtremeConfigurationSection" type="AppConfig_Revision.CustomConfigurationClasses.ExtremeConfiguration, AppConfig_Revision"/>
		</configSections>

	<SimpleConfigurationSection
		connectionString="data source=SomeServer; database=Somedb; Integrated Security=SSPI;"
		pageSize="20"/>

	<ComplexConfigurationSection>
		<ComplexConfigurations>
			<add company="somecompany"
				 size="mid"/>
			<add company="somecompany2"
				 size="large"/>
		</ComplexConfigurations>
	</ComplexConfigurationSection>

	<ExtremeConfigurationSection>
		<ExtremeConfigurations>
			<add 
				name="somename"
				id="301">
				<Location
					continent="europe"
					country="Greece"
					/>
				<Work
					field="tech"
					salary="mid"/>
				</add>
			</ExtremeConfigurations>
		</ExtremeConfigurationSection>
</configuration>