<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="SimpleConfigurationSection" type="App.Config_test.SimpleConfiguration, App.Config_test"/>
		<section name="ComplexConfigurationSection" type="App.Config_test.ComplexConfiguration, App.Config_test"/>
		<section name="ExtremeConfigurationSection" type="App.Config_test.ExtremeConfiguration, App.Config_test"/>
	</configSections>

	<SimpleConfigurationSection
		connectionString="Data Source=SomeServer; Initial Catalog= SomeDb; Integrated Security=True; Encrypt=False;"
		pageSize="10"/>
	
	<ComplexConfigurationSection>
		<ComplexConfigurations>
			<add name="someName"
				 id="1"/>
			<add name="someName2"
				 id="2"/>
			</ComplexConfigurations>
			</ComplexConfigurationSection>
	
	<ExtremeConfigurationSection>
		<ExtremeConfigurations>
			<add
				name="somename"
				id="3">
				<exchange
					roadnumber ="10"
					room =" 11"
					/>
				<queue
				pass="No"
				fire="Yes"
				/>
				</add>
			</ExtremeConfigurations>
		</ExtremeConfigurationSection>
		
	
</configuration>