<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="SimpleConfigurationSection" type="App.Config_test2.SimpleConfiguration, App.Config_test2"/>
		<section name="ComplexConfigurationSection" type="App.Config_test2.ComplexConfiguration, App.Config_test2"/>
		<section name="ExtremeConfigurationSection" type="App.Config_test2.ExtremeConfiguration, App.Config_test2"/>
		</configSections>

	<SimpleConfigurationSection
		connectionstring="Data Source=SomeServer; Initial Catalog= SomeDb; Integrated Security=True; Encrypt=False;"
		commandstring="someQuery"/>

	<ComplexConfigurationSection>
		<ComplexConfigurations>
			<add id="20"
				 name="John"
				 />
			<add id="40"
				 name="Tom"
				 />
			</ComplexConfigurations>
		</ComplexConfigurationSection>

	<ExtremeConfigurationSection>
		<ExtremeConfigurations>
			<add postalcode="15351"
				 city="Athens">
			<adress streetnumber="10"
					roomnumber="20"/>
			</add>
			</ExtremeConfigurations>
		</ExtremeConfigurationSection>
</configuration>