<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<ConfigSections>
		<section name="DataBaseConfigurationSection" type="Library_Infrastructure.DatabaseConfiguration, Library_Infrastructure"/>
		</ConfigSections>

	<DataBaseConfigurationSection
		connectionstring="data source=DESKTOP-3BA0QHV; database=LibraryDb; integrated security=SSPI"/>

</configuration>